*{  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
    font-family: 'Roboto slab', serif;  
}  
body{  
    width: 100%;  
    height: 100vh;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    background: #EEF3FA;  
}  
 .container-fluid {width: 100%;}
.row,.title,.btn-box{  
    width: 100%;  
    display: flex;  
    justify-content: center;  
}  

.col30{  
    background: #495C6A;  
    display: flex;  
    justify-content: center;  
    flex-direction: column;  
    align-items: center;  
    text-align: center;  
    
    width: 40vw !important;  
    height: 70vh!important;  
}  
.col50{  
     
    background: #ffff;
    width: 40vw !important;  
    height: 70vh !important;    
}  

.title h1{  
    color: #495C6A;  
    margin: 10px 0;  
}  
.content p{  
    color: #fff;  
    font-size: 1.2em;  
    font-weight: 400;  
}  
form{  
    width: 100%;  
    padding: 30px;  
}  
.input-data{  
    width: 100%;  
    padding: 15px 10px;  
    outline: none;  
    background: #EEF3FA;  
    margin: 10px 0;  
    border: none;  
    resize: none;  
}  
#button{  
    padding: 10px 30px;  
    background: #5931dd;  
    border: none;  
    cursor: pointer;  
    color: #fff;  
    font-size: 1em;  
    justify-content: center;
}  
#button:hover{background-color: #6336f4;
color: #fff;}
img{width: 20vw;height: 40vh;padding-bottom:2vh;}

@media only  screen and (min-width:300px) and
 (max-width:440px){ img{width:30vw;height:30vh;
padding-bottom:5vh;padding-top: 2vh;}
 .col30, .col50{width:80vw !important; height: auto;
max-height: 50vh; }
  .col50{padding-top:3vh;}
 
}
@media only screen and (min-width:441px) and
 (max-width:1025px) {
    .col30, .col50{height: auto; max-height:60vh}
  
}
